h3, p, h4{
    margin-left: 20px;
}

.SavePaletteClass{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

input{
    text-align: center;
    width: 290px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.HorizontalLine{
    margin-left: 20px;
    width: 50vw;
}

.UserMessage{
    color: red;
    font-size: 11px;
    text-align: center;
}

.Information{
  margin-top: 80px;
}