.Block{
    height: 122px;
    width: 122px;
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0 2px 4px #000000;
    margin: 20px;
}
.DeleteIconStyle{
    float: right;
    padding: 5px;
}

.BlockLabel{
    text-align: center;
    /* line-height: 122px; */
    font-size: 15px;
    color: white;
    /* position: relative;
    top: 10%; */
    margin-top : 10%;
}
.BlockIcon{
    text-align: center;
    line-height: 122px;
    font-size: 15px;
    color: white;
}

/* .Block:Hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
} */


